@mixin inlineLink {
  color: var(--green);
  
  &:after {
    content: '';
    display: block;
    width: 0;
    height: 1px;
    position: relative;
    bottom: 0.37em;
    background-color: var(--green);
    transition: var(--transition);
    opacity: 0.5;
  }

  &:hover, &:focus, &:active {
    &::after {
      width: 100%;
    }
  }
}

@mixin flexCenter {
  display: flex;
  -moz-box-pack: center;
  justify-content: center;
  -moz-box-align: center;
  align-items: center;
}

@mixin flexBetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin basicList {
  padding: 0;
}

@mixin bullet {
  position: relative;
  margin-bottom: 10px;
  padding-left: 20px;

  &::before {
    content: "▹";
    position: absolute;
    left: 0;
    color: var(--green);
    line-height: 12px;

    display: flex;
    align-items: center;
    height: 100%;
  }
}

@mixin borderBox {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}