$fonts: (
  Calibre: (
    dir: "Calibre",
    files: (
      "Black" normal 900,
      "BlackItalic" italic 900,
      "Bold" normal 700,
      "BoldItalic" italic 700,
      "Light" normal 300,
      "LightItalic" italic 300,
      "Medium" normal 500,
      "MediumItalic" italic 500,
      "Regular" normal 400,
      "Regular" italic 400,
      "Semibold" normal 600,
      "SemiboldItalic" italic 600,
      "Thin" normal 100,
      "ThinItalic" italic 100
    )
  ),
  "SF Mono": (
    dir: "SFMono",
    files: (
      "Bold" normal 700,
      "BoldItalic" italic 700,
      "Light" normal 300,
      "LightItalic" italic 300,
      "Medium" normal 500,
      "MediumItalic" italic 500,
      "Regular" normal 400,
      "Regular" italic 400,
      "Semibold" normal 600,
      "SemiboldItalic" italic 600,
    )
  )
);

@each $font-family, $font-data in $fonts {
  $dir: map-get($font-data, dir);
  $files: map-get($font-data, files);

  @each $file-name, $font-style, $font-weight in $files {
    @font-face {
      font-family: $font-family;
      src: url("../../public/fonts/#{$dir}/#{$dir}#{$file-name}.otf");
      font-style: $font-style;
      font-weight: $font-weight;
    }
  }
}