@use 'mixins';
@use 'breakpoints';

%large-intro {
  margin: 0;
  font-size: clamp(40px, 8vw, 80px);
  @include breakpoints.mobile-landscape {
    font-size: clamp(40px, 8vw, 60px);
  }
}

#intro {
  @include mixins.flexCenter;
  
  flex-direction: column;
  align-items: flex-start;
  min-height: 100vh;
  padding: 0;

  @media (max-width: 480px) and (min-height: 700px) {
    padding-bottom: 10vh;
  }

  h1 {
    margin: 0;
    
    & > * {
      display: block;
    }



    strong {
      @extend %large-intro;
      font-weight: 600;
      line-height: 1.1;
    }
  }

  h2 {
    @extend %large-intro;
    color: var(--slate);
    margin-top: 10px;
    line-height: 0.9;
  }

  p {
    margin-top: 20px;
    max-width: 540px;
  }
}

#about {
  max-width: 900px;
  position: relative;

  display: grid;
  grid-template-columns: 3fr 2fr;
  column-gap: 50px;

  @include breakpoints.md {
    display: block;
  }

  h2 {
    grid-column: 1 / -1;
  }

  div[data-container=image] {
    grid-column-start: 2;
    grid-row: 2 / span 3;
  }
  
  ul {
    display: grid;
    grid-template-columns: repeat(2, minmax(140px, 200px));
    grid-gap: 0 10px;
    padding: 0;
    margin: 20px 0 0 0;
    overflow: hidden;
    list-style: none;
  }

  li {
    @include mixins.bullet;
  }
}

#workexperience {
  max-width: 700px;

  & > p {
    border-top: 1px solid var(--navy-light);
    padding-top: 15px;
  }
}

#contact {
  max-width: 600px;
  margin: 0 auto 100px;
  text-align: center;

  h3 {
    font-size: var(--fz-h1);
  }

  p {
    max-width: none;
  }
}