@use '../styles/styleVars';

.SectionHeader {
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  align-items: center;
  position: relative;
  margin: 10px 0 40px;
  width: 100%;
  font-size: clamp(26px, 5vw, styleVars.$fz-heading);
  white-space: nowrap;
  
  &::before {
    position: relative;
    bottom: 4px;
    counter-increment: section;
    content: counter(section, decimal-leading-zero) ".";
    margin-right: 10px;
    color: styleVars.$green;
    font-family: styleVars.$font-mono;    
    font-size: clamp(#{styleVars.$fz-md}, 3vw, #{styleVars.$fz-xl});
    font-weight: 400;
  }

  &::after {
    content: "";
    display: block;
    position: relative;
    top: -5px;
    width: 300px;
    height: 1px;
    margin-left: 20px;
    background-color: styleVars.$navy-lightest;
  }

  &[data-titlestyle=small] {
    display: block;
    margin-bottom: 20px;
    color: styleVars.$green;
    font-family: styleVars.$font-mono;
    font-size: styleVars.$fz-md;
    font-weight: 400;

    &::before {
      bottom: 0;
      font-size: styleVars.$fz-sm;
    }

    &::after {
      display: none;
    }
  }
}