@use '@styles/mixins';

.header {
  @include mixins.flexBetween;

  position: fixed;
  top: 0;
  z-index: 11;
  padding: 0 50px;
  width: 100%;
  height: var(--nav-height);
  background-color: rgba(10, 25, 47, 0.85);

  backdrop-filter: blur(10px);
  transition: var(--transition);

  @media (max-width: 1080px) {
    padding: 0 40px;
  }

  @media (max-width: 768px) {
    padding: 0 25px;
  }

  @media (prefers-reduced-motion: no-preference) {
    &[data-scrolledtotop=false] {
      &[data-scrolldirection=up] {
        height: var(--nav-scroll-height);
        transform: translateY(0px);
        background-color: rgba(10,15, 47, 0.85);
        box-shadow: 0 10px 30px -10px var(--navy-shadow);
      }

      &[data-scrolldirection=down] {
        height: var(--nav-scroll-height);
        transform: translateY(calc(var(--nav-scroll-height) * -1));
        box-shadow: 0 10px 30px -10px var(--navy-shadow);
      }
    }
  }
}

.nav {
  @include mixins.flexBetween;
  position: relative;
  width: 100%;
  color: var(--slate-lightest);
  font-family: var(--font-mono);
  counter-reset: sectionId 0;
  z-index: 12;
}

.links {
  display: flex;
  align-items: center;

  @media (max-width: 768px) {
    display: none;
  }

  ol {
    @include mixins.flexBetween;
    padding: 0;
    margin: 0;
    list-style: none;

    li {
      margin: 0 5px;
      
      a {
        padding: 10px;
        font-size: var(--fz-xs);

        &::before {
          counter-increment: sectionId;
          content: counter(sectionId, decimal-leading-zero) ".";
          margin-right: 5px;
          color: var(--green);
          font-size: var(--fz-xxs);
          text-align: right;
        }
      }
    }
  }
}

.logo {
  font-weight: 600;
  font-family: var(--font-sans);
  user-select: none;

  border: 1px solid #777;
  padding: 8px 5px 3px;
  border-radius: var(--border-radius);

  &:hover {
    border-color: var(--green);
  }

  &:not(:hover) {
    color: #fff;
  }
}