@use '@styles/breakpoints';

.gridUl {
  list-style: outside none none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 15px;
  position: relative;
}

.gridLi {
  min-height: 1em;
  background-color: var(--navy-light);
  box-shadow: 0 10px 30px -15px var(--navy-shadow);

  padding: 2rem 1.75rem;
  border-radius: var(--border-radius);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;

  pointer-events: none;
  transition: var(--transition);

  & > * {
    width: 100%;
  }

  &:hover {
    transform: translateY(-5px) scale(1.003);
  }

  a {
    pointer-events: auto;
  }

  header {
    h3 {
      margin: 0 0 10px;
      color: var(--slate-lightest);

      // Card link
      a {
        position: initial;
        &::before {
          content: " ";
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
        }
      }
    }

    p {
      color: var(--slate-light);
      font-size: 17px;
    }
  }

  footer {
    ul {
      display: flex;
      align-items: flex-end;
      flex-grow: 1;
      flex-wrap: wrap;
      padding: 0;
      margin: 20px 0 0;
      list-style: none;
    }

    li {
      font-family: var(--font-mono);
      font-size: var(--fz-xxs);
      line-height: 1.75;
      display: inline-block;

      &:not(:last-child) {
        margin-right: 15px;
      }
    }
  }
}

.icons {
  display: flex;
  align-items: center;
  margin-bottom: 35px;

  // Only the main (decorative) icon is a direct svg child
  & > svg {
    color: var(--green);
    margin-right: auto;
    font-size: 40px;
  }
}

.externalLink {
  font-size: var(--fz-xxl);
  display: flex;
  align-items: center;
  padding: 5px 7px;
  z-index: 3;
  &:not(:last-child) {
    margin-right: 15px;
  }
}