@use '@styles/breakpoints';

%counter {
  &::before {
    position: relative;
    bottom: 4px;
    counter-increment: section;
    content: counter(section, decimal-leading-zero) ".";
    margin-right: 10px;
    color: var(--green);
    font-family: var(--font-mono);    
    font-size: clamp(var(--fz-md), 3vw, var(--fz-xl));
    font-weight: 400;

    @include breakpoints.xs {
      margin-bottom: -3px;
      margin-right: 5px;
    }
  }
}

.default {
  @extend %counter;

  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  align-items: center;
  position: relative;
  margin: 10px 0 40px;
  width: 100%;
  white-space: nowrap;

  &::after {
    content: "";
    display: block;
    position: relative;
    top: -5px;
    width: 300px;
    height: 1px;
    margin-left: 20px;
    background-color: var(--navy-lightest);

    @include breakpoints.lg {
      width: 200px;
    }

    @include breakpoints.md {
      width: 100%;
    }

    @include breakpoints.sm {
      margin-left: 10px;
    }
  }
}

.small {
  @extend %counter;
  
  display: block;
  margin-bottom: 20px;
  color: var(--green);
  font-family: var(--font-mono);
  font-size: var(--fz-md);
  font-weight: 400;

  &::before {
    bottom: 0;
    font-size: var(--fz-sm);
  }

  &::after {
    display: none;
  }
}