%container {
  width: 40px;
  position: fixed;
  bottom: 0;
  z-index: 10;
  color: var(--slate-light);

  @media (max-width: 786px) {
    display: none;
  }

  &::after {
    content: "";
    display: block;
    width: 1px;
    height: 90px;
    margin: 0 auto;
    background-color: var(--slate-light);
  }

  ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px auto;
    padding: 0;
    list-style: none;
  }

  svg {
    margin-top: 15px;
    font-size: var(--fz-xxl);
  }

  a {
    &:hover, &:focus {
      transform: translateY(-3px);
    }
  }
}

.containerRight {
  @extend %container;
  left: auto;
  right: 40px;
}

.containerLeft {
  @extend %container;
  left: 40px;
  right: auto;
}

.emailLink {
  margin: 20px auto;
  padding: 10px;
  font-family: var(--font-mono);
  font-size: var(--fz-xs);
  line-height: var(--fz-xl);
  letter-spacing: 0.1em;
  writing-mode: vertical-rl;
}
