@use '@styles/mixins';

%content {
  margin: 20px auto;
  @include mixins.for-mobile-landscape {
    margin: 15px auto;
  }
}

%container {
  width: 40px;
  position: fixed;
  bottom: 0;
  z-index: 10;
  color: var(--slate-light);

  @media (max-width: 768px) {
    display: none;
  }

  &::after {
    content: "";
    display: block;
    width: 1px;
    height: 90px;
    margin: 0 auto;
    background-color: var(--slate-light);

    @include mixins.for-mobile-landscape {
      height: 50px;
    }
  }

  ul {
    @extend %content;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    list-style: none;
  }

  svg {
    margin-top: 15px;
    font-size: var(--fz-xxl);
  }

  a {
    &:hover, &:focus {
      transform: translateY(-3px);
    }
  }
}

.containerRight {
  @extend %container;
  left: auto;
  right: 40px;

  @media (max-width: 1080px) {
    right: 20px;
  }
}

.containerLeft {
  @extend %container;
  left: 40px;
  right: auto;

  @media (max-width: 1080px) {
    left: 20px;
  }
}

.emailLink {
  @extend %content;
  padding: 10px;
  font-family: var(--font-mono);
  font-size: var(--fz-xs);
  line-height: var(--fz-xl);
  letter-spacing: 0.1em;
  writing-mode: vertical-rl;
}
