@use '@styles/breakpoints';
@use '@styles/mixins';

$diameter: 40px;
$border_width: 2px;
$triangle_size: 11px;
$grid-top-row-height: 10px;

%hover-highlight {
  transition: var(--transition);
  border: $border_width solid var(--navy-lightest);
  background-color: var(--navy-light);
  pointer-events: none;

  li:hover & {
    border-color: var(--slate-light);
  }
}

%hover-animate {
  transition: var(--transition);
  li:hover & {
    transform: translateY(-2px);
  }
}

%grid {
  display: grid;
  grid-template-columns: $diameter ($triangle_size + 10px) minmax(auto, 793px); 

  @include breakpoints.mobile-portrait {
    grid-template-columns: $diameter ($triangle_size + 5px) minmax(auto, 793px); 
  }
}

.top-section {
  padding: 0;
}
 
/* The triangle */
.triangle {
  @extend %hover-animate;
  grid-area: 2 / 2 / 3 /3;

  z-index: 3;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: flex-end;
  margin-right: -$border_width;

  span {
    @extend %hover-highlight;

    content: " ";
    display: block;
    
    height: $triangle_size * 2;
    width: $triangle_size * 2;
    transform: rotate(45deg);
    align-self: center;
    margin-right: -$triangle_size;

    @include breakpoints.mobile-portrait {
      height: $triangle_size * 1.75;
      width: $triangle_size * 1.75;
      margin-right: -$triangle_size;
    }
  }
}

.timerange {
  font-family: var(--font-mono);
  font-size: var(--fz-sm);
}

.timeline { // ol
  @extend %grid;
  flex: 1;

  position: relative;
  margin-bottom: 0;
  padding: 0 0 var(--fz-h1);
  
  row-gap: clamp(40px, 5vw, 55px);
  
  @include breakpoints.mobile-portrait {
    margin-left: -10px;
  }
  
  /* The line */
  &::before {
    content: " ";
    width: 4px;
    background-color: var(--navy-lightest);
    justify-self: center;
    position: absolute;
    grid-column: 1 / 2;
    top: calc($grid-top-row-height + 1em);
    bottom: 0;
    z-index: 0;
  }
}

.timeline-entry { // li
  @extend %grid;

  grid-template-rows: $grid-top-row-height $diameter 1fr;
  grid-column: 1 / -1;
  position: relative;

  pointer-events: none;

  & > * {
    pointer-events: auto;
  }
}

.content-container {
  @extend %hover-highlight;
  @extend %hover-animate;
  @include mixins.noSelect;
    
  grid-column: 3 / -2;
  grid-row: 1 / -1;

  padding: 1.25rem 1.75rem;
  border-radius: var(--border-radius);
  position: relative;
  z-index: 2;

  box-shadow: 0px 0px 30px -5px var(--navy-shadow);

  @include breakpoints.mobile-portrait {
    padding: 1rem 1rem;
  }

  ul {
    padding-left: var(--fz-sm);
  }

  li {
    position: relative;
    padding-left: var(--fz-xs);
    margin-bottom: 10px;

    ::marker {
      content: "▹";
      color: var(--green);
    }

    @include breakpoints.mobile-portrait {
      padding-left: 8px;
    }
  }

  h3 {
    line-height: 1.3;
    a {
      @include mixins.inlineLink;
    }
  }
}

.timeline-pin { 
  @extend %hover-highlight;
  @extend %hover-animate;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: var(--fz-xl);

  border-radius: 50%;
  box-sizing: border-box;
  grid-area: 2 / 1 /3/ 2;
  box-shadow: 0 1px 10px 2px var(--navy-shadow);
}

.page-grid {
  display: grid;
  grid-template-rows: var(--nav-height) repeat(auto);
  grid-template-columns: auto 40px 21px minmax(auto, 793px) auto;
  grid-row-gap: 30px;

  & > * {
    grid-column: 2 / 5;
  }
}

.dateRange {
  margin: 0 0 5px 0;
  font-family: var(--font-mono);
  font-size: var(--fz-sm) !important;
}

.timeline-item-header {
  margin: 0;
  a {
    @include mixins.inlineLink;
    
    &::after {
      height: 2px;
      margin-top: 1px;
    } 
  }
}