@use './styleVars';

* {
  box-sizing: border-box;
}

::before, ::after {
  box-sizing: inherit;
}

::selection {
  background-color: styleVars.$navy-lightest;
  color: styleVars.$slate-lightest;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: styleVars.$font-sans; 
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
  background-color: styleVars.$navy;
  color: styleVars.$slate;
  line-height: 1.3;
}

body {
  font-size: styleVars.$fz-xl;
  counter-reset: section;
}

section {
  margin: 0px auto;
  padding: 100px 0;
  max-width: 1000px;

  header {
    h1 {
      margin: 0 0 30px 4px;
      color: styleVars.$green;
      font-size: clamp(#{styleVars.$fz-sm}, 5vw, #{styleVars.$fz-md});
      font-weight: 400;
      font-family: styleVars.$font-mono;
    }

    h3 {
      margin-top: 10px;
      color: styleVars.$slate;
      line-height: 0.9;
    }
  }

  p {
    max-width: 540px;
  }
}

main {
  margin: 0 auto;
  width: 100%;
  max-width: 1600px;
  min-height: 100vh;
  padding: 200px 150px;

  @media (max-width: 1080px) {
    padding: 200px 100px;
  }

  @media (max-width: 768px) {
    padding: 150px 50px;
  }

  &.fillHeight {
    padding: 0 150px;

    @media (max-width: 1080px) {
      padding: 0 100px;
    }

    @media (max-width: 768px) {
      padding: 0 50px;
    }
  }
}

a {
  display: inline-block;
  text-decoration: none;
  text-decoration-skip-ink: auto;
  position: relative;
  color: inherit;
  cursor: pointer;

  &:hover, &:focus {
    color: styleVars.$green;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 10px;
  font-weight: 600;
  line-height: 1.1;
  color: styleVars.$slate-lightest;
}

button {
  cursor: pointer;
  border: none;
  border-radius: 0;
}

p {
  margin: 0 0 15px;

  &:last-child, &:last-of-type {
    margin: 0;
  }
  
  & > a {
    color: styleVars.$green;

    &::after {
      content: '';
      display: block;
      width: 0px;
      height: 1px;
      position: relative;
      bottom: 0.37em;
      background-color: styleVars.$green;
      opacity: 0.5;
    }
  }
}